/* --- Vars --- */

#root {
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --transitionDefaults: background-color .5s, color .5s;
    --linkNavFontSize: 19px;

    /* Les variables de thèmes sont stockées dans le appState et générées automatiquement */
}



/* Tags default */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-underline-offset: 3px;

    transition: var(--transitionDefaults);

    /* transition-property: width, height, top, right, bottom, left,
        transform, scale, rotate,
        background-color, color, opacity;
    transition-duration: .5s; */
}

h1,
h2 {
    font-weight: normal;
}

a {
    position: relative;
    color: var(--link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &[target="_blank"]:hover::after {
        content: "⇗";
        position: absolute;
        display: inline-block;
        margin-left: 7px;
        text-decoration: none;
        line-height: 1;
    }
}

button {
    --transitionDefaultsBtn: var(--transitionDefaults), scale .3s, background-color .3s;
    --transitionDefaultsBtnActive: var(--transitionDefaults), scale .07s, background-color .1s;
    
    /* pos */
    padding: 5px;
    border: none;

    /* prop */
    background-color: var(--btnBg);
    color: var(--text);
    border-radius: 12px;
    cursor: pointer;
    transition: var(--transitionDefaultsBtn);

    /* content pos */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--btnBgHover);
    }

    &:active {
        background-color: var(--btnBgActive);
        scale: .9;
        transition: var(--transitionDefaultsBtnActive);
    }
}



/* --- Classes générales --- */

.icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.charAsIcon {
    line-height: 1;
    user-select: none;
}

.small {
    font-size: small;
}

.large {
    font-size: x-large;
}

.textSub1 {
    color: var(--textSub1);
}

.tRight {
    align-self: end;
}



/* --- Animations --- */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes angryText {
    0% {
        transform: skew(-10deg);
    }

    20% {
        transform: skew(10deg);
        transform: rotate(1deg);
    }

    30% {
        transform: skew(-10deg);
        transform: rotate(0deg);
    }

    50% {
        transform: skew(5deg);
    }

    70% {
        transform: skew(-10deg);
        transform: rotate(1deg);
    }

    100% {
        transform: skew(-0deg);
        transform: rotate(0deg);
    }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s, transform .3s, var(--transitionDefaults) !important;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateY(-5px);
}

/* slideVert */
.slideVert-enter-active,
.slideVert-leave-active {
    transition: transform .3s opacity .3s, var(--transitionDefaults) !important;
}

.slideVert-enter-from,
.slideVert-leave-to {
    transform: translateY(-70px);
    opacity: 0;
}